html{
    background-color: #98D2EB;
}
header{
    padding-bottom: 50px;
    min-height: 60px;
    max-height: 400px;
}
#logo{
    /*left it here as might need it*/
    font-family: 'Quicksand', sans-serif;
    border: 2px;
}
img{
    width: 20%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
}
#navb{
    font-size: 200%;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00FDBC;
    font-family: 'Quicksand', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
#navb:hover{
    background-color: #4CE8D4;
}
a{
    /*the text won't adjust with a id, so i'm using the A tag to adjust it.*/
    /*I'm so stupid not realizing it's font size, not size*/
    /*now that I check, I can adjust it with the id... my life is pain*/
    /*I'll leave this here so you can tell and see what work I went through*/
}
nav{
    width: 90%;
    float: right;
    text-align: center;
    /*You can do negative, nice. Made doing something possable*/
    margin-top: -3%;
}
body{
    /*doing float none so that body isn't set next to the image*/
    float: none;
}
/*did each one individually so that I don't target with id(will be long and painful) 
and so I can change each size with differant things e.g colours*/
p{
    font-family: 'Quicksand', sans-serif;
    
}

h1{
    font-family: 'Quicksand', sans-serif;
    
}
h2{
    font-family: 'Quicksand', sans-serif;
    
}
h3{
    font-family: 'Quicksand', sans-serif;
    
}
h4{
    font-family: 'Quicksand', sans-serif;
    
}
h5{
    font-family: 'Quicksand', sans-serif;
    
}
h6{
    font-family: 'Quicksand', sans-serif;
    
}
ul{
    font-family: 'Quicksand', sans-serif;
}
li{
    font-family: 'Quicksand', sans-serif;
}
#ml{
    font-size: 150%;
}