html{
    background-color: #98D2EB;
}

header{
    padding-bottom: 50px;
}
img{
    width: 12%;
    float: left;
}
#navb{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #00FDBC;
    font-family: 'Quicksand', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

nav{
    width: 90%;
    float: right;
    text-align: center;
}
body{
    /*doing float none so that body isn't set next to the image*/
    float: none;
}
/*did each one individually so that I don't target with id(will be long and painful) 
and so I can change each size with differant things e.g colours*/
p{
    font-family: 'Quicksand', sans-serif;
    
}

h1{
    font-family: 'Quicksand', sans-serif;
    
}
h2{
    font-family: 'Quicksand', sans-serif;
    
}
h3{
    font-family: 'Quicksand', sans-serif;
    
}
h4{
    font-family: 'Quicksand', sans-serif;
    
}
h5{
    font-family: 'Quicksand', sans-serif;
    
}
h6{
    font-family: 'Quicksand', sans-serif;
    
}