header{
    padding-bottom: 50px;
}
img{
    width: 12%;
    float: left;
}
nav{
    width: 90%;
    float: right;
    text-align: center;
}
body{
    float: none;
}
button{
    margin-left: 5%;
    margin-right: 5%;
}